<div class="hero-unit">
	<h1>Welcome to Aaron's Test Site!</h1>
	<p>
		You've found the homepage for Aaron! This is where I will be testing my new app. 
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>


