<div class="hero-unit">
	<h1>Welcome to Aaron's Test Site!</h1>
	<p>
		You've found the homepage for Aaron 
		<%= link_to "LinkedIn", "https://www.linkedin.com/in/aaronwaynebrown" %>
		app.
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
